{% extends 'base.html' %}

{% block title %} Edit {{sticky.title.title}} - Manager Sticky{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="col-md-12 text-center">

					<form action="" method="post" class="form__">

						{% csrf_token %}
						{% for field in form %}

							<p>{{field.label_tag}}</p>
							<p>{{field}}</p>

						{% endfor %}

						<button type="submit" class="form__button">Send</button>
					</form>
				

					</form>
				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}